.features-subtitle{
      font-size: 36px;
    text-align: center;
}
.features-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  padding: 96px 0;
}
.features-list {
  display: flex;
  gap: 72px; 
  flex-direction: column
}

.features-item {
  /* width: calc((100% - 72px) / 4);  */
  width: 100%;
}
.features-icon-container{
  display:  none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
 border: 1px solid #8E8F99;

}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 320px;
  padding: 96px 16px;
  margin: 0 auto;
}
.features-icon {
  width: 64px;
  height: 64px;
}